{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARP HOME</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <a href="add"><h1>add</h1></a>
        </div>
        <div class="textboard">
       
            <div class="newtexts">
                <div class="post">

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>

                    
                    <div class="author"> 
                        <h3>{{username}}</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Dolorem atque vitae corporis
                             praesentium libero assumenda officiis quidem 
                             deserunt mollitia ad sunt est iusto, 
                            ex, dicta quos necessitatibus pariatur nemo cumque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>