*{
    padding: 0;
    margin: 0;
}
body{
    
    background-color: #FFE5EC;
}
.cont{
    background-color: #FFE5EC;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.answer{
    background-color: #FFC2D1;
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: #FF8FAB solid 2px;
}

.inputs{
    background-color: #FFC2D1;
    width: 50%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: #FF8FAB solid 2px;


}

form{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
}

input{
    padding: 15px 25px;
    width: 300px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}

button{
    padding: 15px 25px;
    width: 350px;
    border-radius: 15px;
    border: none;
    background-color: #FF8FAB;
    color: white;
    font-size: 22px;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #FB6F92;
}

.links{
    background-color: #FFC2D1;
    width: 50%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: #FF8FAB solid 2px;

}
a{
    
    text-decoration: none;
    color: black;
    padding: 10px;
    border: #FB6F92 1px solid;
    border-radius: 15px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}
a:hover{
    background-color: #FF8FAB;
}

.container{
    background-color: #FFE5EC;
    height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

}
.navbar{
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    border: 1px solid #FB6F92;
    margin-bottom: 15px;
}
.textboard{
    border: 1px solid #FB6F92;
    border-radius: 15px;
    width: 100%;
    height: 70vh;
    display: flex;
}
.adding{
    width: 400px;
    height: 250px;
    margin: 25px;
    border-radius: 15px;
    border: #FB6F92 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.newtexts{
    width: 60%;
    height: 90%;
    margin: auto;
    border-radius: 15px;
    border: #FB6F92 1px solid;
}
.post{
    margin: 5px;
    overflow: overlay;
    height: 98%;
    display: flex;
    flex-direction: row-reverse;
}
.author{
    border: #FB6F92 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}
